In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Mehedi Hassan Galib/Desktop/Python/datas/vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## unique values only

In [12]:
df['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

## unique values with count

In [3]:
pd.value_counts(df['Genre'])

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Adventure       1286
Racing          1249
Platform         886
Simulation       867
Fighting         848
Strategy         681
Puzzle           582
Name: Genre, dtype: int64

## Count the unique values for entire dataframe

In [9]:
df.apply(pd.value_counts).fillna(0)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0.0,0.0,0.0,0.0,0.0,0.0,0.0,4499.0,5730.0,10455.0,6477.0,0.0
0.01,0.0,0.0,0.0,0.0,0.0,0.0,541.0,1496.0,704.0,3445.0,618.0
0.02,0.0,0.0,0.0,0.0,0.0,0.0,550.0,1269.0,728.0,1582.0,1071.0
0.03,0.0,0.0,0.0,0.0,0.0,0.0,533.0,934.0,528.0,939.0,811.0
0.04,0.0,0.0,0.0,0.0,0.0,0.0,525.0,748.0,397.0,666.0,645.0
...,...,...,...,...,...,...,...,...,...,...,...
thinkSMART: Chess for Kids,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
uDraw Studio,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
uDraw Studio: Instant Artist,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
wwe Smackdown vs. Raw 2006,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
¡Shin Chan Flipa en colores!,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0